---
import "../styles/global.css";
import Header from "../components/core/Header.jsx";
import Footer from "../components/core/Footer.astro";
import Hero from "../components/Hero.astro";
import AboutValora from "../components/AboutValora.astro";
import ModulesSection from "../components/ModulesSection.astro";
import ImpactSection from "../components/ImpactSection.astro";
import Infographic from "../components/Infographic.astro";
---

<Header client:load />

<main class="bg-[#0B0B0C] text-white overflow-hidden">
  <Hero />
  <AboutValora />
  <ModulesSection />
  <ImpactSection />
  <Infographic />
</main>

<Footer />
