---
import Header from "../components/core/Header.jsx";
import Footer from "../components/core/Footer.astro";
---

<Header client:load />
<main class="min-h-screen bg-[#0B0B0C] text-white">
  <slot />
</main>
<Footer />
